In [79]:
import pandas as pd

In [80]:
df = pd.read_csv("Zip_zori_uc_sfrcondomfr_sm_month.csv")
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1507.992701,...,1904.777290,1910.643017,1924.097422,1929.309205,1932.841986,1927.938807,1907.843299,1896.441352,1889.039981,1906.344262
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1284.685652,...,1812.422290,1819.659283,1826.788539,1840.374284,1839.726570,1824.465847,1811.798264,1814.362800,1831.294242,1847.284957
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,NaN,...,1823.225796,1829.440674,1825.837628,1829.951267,1826.706404,1854.860599,1844.938233,1855.567449,1849.775799,1855.542357
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1376.228953,1379.385879,1402.560208,1400.388987,1406.506278,1411.152634,1415.993645,1431.616050,1427.433490,1424.611111
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2910.065523,2952.093550,2973.325334,3000.588477,3018.187844,3006.206307,2979.411737,2948.756620,2936.134754,2927.157063

In [81]:
# Setting multiple columns as the index
df = df.set_index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'City', 'CountyName'])

# Stacking the DataFrame
stacked_df = df.stack()

# Resetting index after stacking to flatten the DataFrame
stacked_df = stacked_df.reset_index()

# Drop rows where the column values are of type 'object' (e.g., strings)
stacked_df = stacked_df[stacked_df[0].apply(lambda x: not isinstance(x, str))]

stacked_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,CountyName,level_8,0
1,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-01-31,1507.992701
2,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-02-28,1512.889588
3,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-03-31,1520.79362
4,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-04-30,1529.682583
5,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-05-31,1533.067199

In [82]:
# Assuming 'level_0', 'level_1', ..., are the names you want to change
stacked_df = stacked_df.rename(columns={
    'level_8': 'YearMonth',
    0: 'Rent',
    # continue for other columns you wish to rename
})

stacked_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,CountyName,YearMonth,Rent
1,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-01-31,1507.992701
2,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-02-28,1512.889588
3,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-03-31,1520.79362
4,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-04-30,1529.682583
5,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-05-31,1533.067199

In [83]:
stacked_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268218 entries, 1 to 274871
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   RegionID    268218 non-null  int64
 1   SizeRank    268218 non-null  int64
 2   RegionName  268218 non-null  int64
 3   RegionType  268218 non-null  object
 4   StateName   268218 non-null  object
 5   State       268218 non-null  object
 6   City        266222 non-null  object
 7   CountyName  268218 non-null  object
 8   YearMonth   268218 non-null  object
 9   Rent        268218 non-null  object
dtypes: int64(3), object(7)
memory usage: 22.5+ MB

In [84]:
# Extract year and month using string slicing
stacked_df['Year'] = stacked_df['YearMonth'].str[:4].astype(int)  # Convert to int for year
stacked_df['Month'] = stacked_df['YearMonth'].str[5:7].astype(int)  # Convert to int for month

stacked_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,CountyName,YearMonth,Rent,Year,Month
1,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-01-31,1507.992701,2015,1
2,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-02-28,1512.889588,2015,2
3,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-03-31,1520.79362,2015,3
4,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-04-30,1529.682583,2015,4
5,91982,1,77494,zip,TX,TX,Katy,Fort Bend County,2015-05-31,1533.067199,2015,5

In [85]:
df2 = pd.read_excel("sf_demo_zip.xlsx")
df2.head()

,zipcode,race_black,race_white,race_asian,race_others,age_median,commute time,male,female,married,single,median_household_income,college_grad,family_size,population,neighborhood
0,94102,10.7,35.3,29.9,24.1,39.6,28.7,55.4,44.6,29.1,70.9,55888,47.0,2.83,26665,Hayes Valley/Tenderloin/North of Market
1,94103,8.6,36.4,33.4,21.6,36.4,27.0,59.1,40.9,28.9,71.1,93143,56.2,2.94,23348,South of Market
2,94104,3.8,30.6,54.4,11.2,51.5,27.1,67.1,32.9,47.0,53.0,42591,33.3,2.91,382,Financial District
3,94105,1.4,41.7,51.3,5.6,33.5,30.2,55.1,44.9,40.3,59.7,244662,84.0,2.41,7748,Financial District South
4,94107,4.2,53.4,27.7,14.7,34.9,32.3,52.7,47.3,39.0,61.0,164289,76.2,2.61,26715,Potrero Hill

In [86]:
df3 = pd.merge(stacked_df, df2, left_on='RegionName',right_on='zipcode',how='inner')

df3[df3['City']=='San Francisco'].head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,CountyName,YearMonth,Rent,...,commute time,male,female,married,single,median_household_income,college_grad,family_size,population,neighborhood
0,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-01-31,2644.268606,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon
1,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-02-28,2707.089921,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon
2,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-03-31,2819.048985,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon
3,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-04-30,2803.888965,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon
4,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-05-31,2844.607514,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon

In [87]:
df3 = df3.drop('zipcode', axis=1)  # axis=1 indicates column
df3 = df3.fillna(0)
df3.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,CountyName,YearMonth,Rent,...,commute time,male,female,married,single,median_household_income,college_grad,family_size,population,neighborhood
0,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-01-31,2644.268606,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon
1,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-02-28,2707.089921,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon
2,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-03-31,2819.048985,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon
3,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-04-30,2803.888965,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon
4,97567,71,94112,zip,CA,CA,San Francisco,San Francisco County,2019-05-31,2844.607514,...,33.9,49.8,50.2,45.3,54.7,112795,34.8,3.77,73049,Ingelside-Excelsior/Crocker-Amazon

In [88]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1560 entries, 0 to 1559
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   RegionID                 1560 non-null   int64
 1   SizeRank                 1560 non-null   int64
 2   RegionName               1560 non-null   int64
 3   RegionType               1560 non-null   object
 4   StateName                1560 non-null   object
 5   State                    1560 non-null   object
 6   City                     1560 non-null   object
 7   CountyName               1560 non-null   object
 8   YearMonth                1560 non-null   object
 9   Rent                     1560 non-null   float64
 10  Year                     1560 non-null   int64
 11  Month                    1560 non-null   int64
 12  race_black               1560 non-null   float64
 13  race_white               1560 non-null   float64
 14  race_asian               1560 non-null   float64
 15  race_others              1560 non-null   float64
 16  age_median               1560 non-null   float64
 17  commute time             1560 non-null   float64
 18  male                     1560 non-null   float64
 19  female                   1560 non-null   float64
 20  married                  1560 non-null   float64
 21  single                   1560 non-null   float64
 22  median_household_income  1560 non-null   int64
 23  college_grad             1560 non-null   float64
 24  family_size              1560 non-null   float64
 25  population               1560 non-null   int64
 26  neighborhood             1560 non-null   object
dtypes: float64(13), int64(7), object(7)
memory usage: 341.2+ KB

In [89]:
df4 = df3[df3['City'] == 'San Francisco']

In [90]:
# Export DataFrame to a CSV file
df4.to_csv('zillow_us_rent.csv', index=False)